#pragma code_page(65001)

// Microsoft Visual C++ で生成されたリソース スクリプトです。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 リソースから生成されました。
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

IDD_CONFIG DIALOGEX 0, 0, 200, 120
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "減色設定"
FONT 9, "Segoe UI"
BEGIN
	// --- モード ---
	GROUPBOX "カラーモード", -1, 10,10,180,30
	AUTORADIOBUTTON "WebSafe", IDC_MODE_WEBSAFE, 20,20,70,10, WS_GROUP
	AUTORADIOBUTTON "VGA16",   IDC_MODE_VGA16,   100,20,70,10

	// --- Bayer ---
	GROUPBOX "Bayer", -1, 10,45,180,30
	AUTORADIOBUTTON "8x8", IDC_BAYER_8, 20,55,70,10, WS_GROUP
	AUTORADIOBUTTON "4x4", IDC_BAYER_4, 100,55,70,10

	// --- 強度 ---
	LTEXT "強度", -1, 10,85,40,10

	// スライダー
	CONTROL "", IDC_STRENGTH, "msctls_trackbar32",
			WS_TABSTOP | TBS_AUTOTICKS, 50,80,120,20

	// スライダー数値
	LTEXT "1.00", IDC_STRENGTH_TEXT, 172,82,36,14,
			SS_LEFT | SS_CENTERIMAGE

	//

	DEFPUSHBUTTON "OK", IDOK, 60,100,40,14
	PUSHBUTTON "Cancel", IDCANCEL, 110,100,40,14
END

